.group-info {
    background-color: #FFFFE0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    color: #000;
}

.group-info h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.group-info p {
    margin-bottom: 10px;
}
.group-details-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
}

.group-details-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.group-details-container h3 {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.group-details-container ul {
    list-style-type: none;
    padding: 0;
}

.group-details-container li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
}

.group-details-container li:last-child {
    border-bottom: none;
}

.group-details-container li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
.group-details-container h2,
.group-details-container label,
.group-details-container option {
    color: #000;
}