.features {
    overflow-y: auto;
    max-height: 70vh;
}

.search-add-container {
    display: flex;
    align-items: center;
}

.search-form {
    margin-right: auto; /* Поиск слева */
}

.add-user-button {
    margin-left: 20px;
}

.user-info {
    background-color: #FFFFE0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    color: #000;
}

.user-info h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.user-info p {
    margin-bottom: 10px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    width: 100%;
    margin-bottom: 10px;
}

select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eb5959;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d14848;
}
.profile-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.profile-container p {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
}
.profile-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
}

.profile-container p:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
.profile-container h1 {
    color: #000;
}
.profile-container label{
    color: #000;
}