{% extends 'mainapp/layout.html' %}

{% block content %}
<h2>Регистрация</h2>

<form method="post" id="registrationForm">
    {% csrf_token %}
    <div>Username:</div> {{ form.username }}
    {{ form.username.errors }}
    <div>Пароль:</div>{{ form.password1 }}
    {{ form.password1.errors }}
    <div>Повтор пароля:</div>{{ form.password2 }}
    {{ form.password2.errors }}
    <div>Почта:</div>{{ form.email }}
    {{ form.email.errors }}
    <div>Имя:</div>{{ form.first_name }}
    {{ form.first_name.errors }}
    <div>Фамилия:</div>{{ form.last_name }}
    {{ form.last_name.errors }}
    <div>Номер телефона:</div>{{ form.number }}
    {{ form.number.errors }}
    <div>Дата рождения:</div>{{ form.birth_date }}
    {{ form.birth_date.errors }}
    <div>Роль пользователя:</div>{{ form.role }}
    {{ form.role.errors }}

    <div id="groupField" style="display: none;">
        <div>Группа:</div>{{ form.group }}
        {{ form.group.errors }}
    </div>

    <p><button type="submit">Регистрация</button></p>
</form>
<script>
    function checkRoleSelection() {
        var role = document.getElementById("id_role").value;
        var groupField = document.getElementById("groupField");
        console.log(role);
        if (role === "Студент") {
            groupField.style.display = "block";
        } else {
            groupField.style.display = "none";
        }

    }

    document.addEventListener("DOMContentLoaded", function() {
        checkRoleSelection();
    });

    document.getElementById("id_role").addEventListener("change", function() {
        checkRoleSelection();
    });
</script>
{% endblock %}