{% extends 'mainapp/layout.html' %}

{% block title %}
    Изменить пользователя
{% endblock %}

{% block content %}
    <div class="features"><div class="profile-container">
        <h1>Добавить пользователя</h1>
        <form method="post" id="userForm">
            {% csrf_token %}
            {{ form.FIO }}<br>
            <select name="role" id="id_role" required>
                <option value="" selected disabled>---</option>
                <option value="Студент">Студент</option>
                <option value="Преподаватель">Преподаватель</option>
            </select><br>
            {{ form.email }}<br>
            {{ form.number }} <br>
            {{ form.birth_date }}<br>
            <div id="groupField" {% if form.initial.role == "Студент" %} style="display: block;" {% else %} style="display: none;" {% endif %}>
                <label for="id_group">Выберите группу:</label>
                {{ form.group }} <br>  {# Используйте поле формы form.group #}
            </div>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit">Добавить пользователя</button>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_role').change(function() {
                if ($(this).val() == 'Студент') {
                    $('#groupField').show();
                    $('#id_group').prop('required', true);
                } else {
                    $('#groupField').hide();
                    $('#id_group').prop('required', false);
                }
            });
            if ($('#id_role').val() == 'Студент') {
                $('#groupField').show();
                $('#id_group').prop('required', true);
            }
        });
    </script>
{% endblock %}
