{% extends 'mainapp/layout.html' %}

{% block title %}
    Редактирование группы {{ group.name }}
{% endblock %}

{% block content %}
    <div class="group-details-container">
        <h2>Редактирование группы: {{ group.name }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Название группы:</label>
                <input type="text" id="id_name" name="name" value="{{ group.name }}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id_captain">Староста:</label>
                <select id="id_captain" name="captain" class="form-control">
                    {% for student in students %}
                        <option value="{{ student.id }}" {% if group.captain == student %}selected{% endif %}>{{ student.first_name }} {{ student.last_name }}</option>
                    {% endfor %}
                    <option value="" {% if not group.captain %}selected{% endif %}>Оставить группу без старосты</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}
