{% extends 'mainapp/layout.html' %}

{% block title %}
    Все типы сообщений
{% endblock %}

{% block content %}
    <h1 style="display: inline-block;">Создание беседы</h1>
    <form method="POST">
        <button type="submit" style="display: inline-block; margin-left: 20px;">Создать</button>
        {% csrf_token %}
        <div>
            <label for="id_title">Название беседы:</label>
            <input type="text" id="id_title" name="title">
        </div>
        <div>
            <label for="id_users">Участники беседы:</label>
            <select id="id_users_select" name="users" multiple>
                <!-- Здесь будет отображаться список пользователей из Select2 -->
            </select>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
    // Initialize Select2 for the "Participants" field
    var $select = $('#id_users_select');
    $select.select2({
        placeholder: 'Выберите участников беседы',
        allowClear: true,
        ajax: {
            url: '{% url 'search_users_dropdown' %}',
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        },
        maximumSelectionLength: 5,
        minimumInputLength: 1
    });

    // Add current user to the list of participants
    var currentUser = '{{ current_user.id }}';
    var option = new Option('{{ current_user.username }}', currentUser, true, true);
    $select.append(option).trigger('change');

    // Обработчик события удаления пользователя из списка
    $select.on('select2:unselect', function (e) {
        var userId = e.params.data.id;
        if (userId == currentUser) {
            // Если текущий пользователь пытается удалить себя из списка, отменяем действие
            e.preventDefault();
            alert("Вы не можете удалить себя из списка участников");
            return false;
        }
        // Удаление пользователя из списка
        $(this).find('option[value="' + userId + '"]').remove();
    });

    // Проверка количества выбранных пользователей перед отправкой формы
    $('form').submit(function (e) {
        var selectedUsers = $select.val();
        if (!selectedUsers || selectedUsers.length < 2) {
            e.preventDefault();
            alert("Должно быть выбрано как минимум 2 пользователя");
        }
    });
});
    </script>

    <style>
        .select2-results__option {
            color: white; /* Устанавливаем белый цвет текста для подсказок */
        }
    </style>
{% endblock %}
