{% extends 'mainapp/layout.html' %}

{% block content %}
    <h1>Create Ticket</h1>
    <form method="post" id="create-ticket-form">
        {% csrf_token %}
        <div style="display: none;">
            {{ form.sender }}
        </div>
        <div>
            {{ form.receiver.label_tag }}
            {{ form.receiver }}
        </div>
        <div>
            {{ form.theme.label_tag }}
            {{ form.theme }}
        </div>
        <div id="dedline_date_field" style="display: none;">
            {{ form.dedline_date.label_tag }}
            {{ form.dedline_date }}
        </div>
        <button id="create-ticket-button" type="submit">Create</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
    // Получаем идентификатор текущего пользователя из контекста шаблона
    var currentUserId = {{ current_user_id }};

    // Инициализация Select2 для поля "receiver"
    $('#id_receiver').select2({
        placeholder: 'Выберите получателя',
        allowClear: true, // Добавление кнопки для очистки выбора
        ajax: {
            url: '{% url 'search_users_dropdown' %}',
            dataType: 'json',
            delay: 250, // Задержка перед отправкой запроса (мс)
            processResults: function (data) {
                // Исключаем текущего пользователя из списка
                var filteredData = data.filter(function(user) {
                    return user.id !== currentUserId;
                });
                return {
                    results: filteredData
                };
            },
            cache: true
        },
        minimumInputLength: 1 // Минимальное количество символов для запуска поиска
    });

    $('#id_theme').change(function () {
        if ($(this).val() === 'Дедлайн') {
            $('#dedline_date_field').show();
        } else {
            $('#dedline_date_field').hide();
        }
    });
});
    </script>
{% endblock %}
