{% extends 'mainapp/layout.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'app_message/css/ticket.css' %}">
{% endblock %}

{% block content %}
<h1>Диалог между {{ dialog.first_owner.first_name }} {{ dialog.first_owner.last_name }} и {{ dialog.second_owner.first_name }} {{ dialog.second_owner.last_name }}</h1>
<div class="message-container">
    {% for message in messages %}
    <div class="message">
        <span class="message-sender">{{ message.sender.first_name }} {{ message.sender.last_name }}:</span>
        <span class="message-content">{{ message.content }}</span>
        {% if message.image %}
        <p><img class="img-article-left  thumb" src="{{ message.image.url }}" width="20%" height="20%"></p>
        {% endif %}
        <span class="message-date">- {{ message.date|date:"d.m.y H:i" }}</span>
    </div>
    {% endfor %}
</div>

<form method="post" id="message-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: none;">
        {{ form.dialog }}
    </div>
    <div style="display: none;">
        {{ form.sender }}
    </div>
    <div>
        {{ form.content.label_tag }}
        {{ form.content }}
    </div>
    <div>
        {{ form.image.label_tag }}
        {{ form.image }}
    </div>
    <button id="send-button" type="submit">Отправить</button>
</form>

<script>
// Глобальная переменная для хранения URL изображения
let imageUrl = '';

document.addEventListener('DOMContentLoaded', function () {
    const dialogSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/dialog/{{ dialog.id }}/');

    let imageUrl = ''; // Глобальная переменная для хранения URL изображения

    dialogSocket.onerror = function(event) {
        console.error('WebSocket error:', event);
    };

    document.getElementById('message-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const messageContainer = document.querySelector('.message-container');
            const newMessage = `
                <div class="message">
                    <span class="message-sender">${data.sender_first_name} ${data.sender_last_name}:</span>
                    <span class="message-content">${data.message}</span>
                    ${data.image ? `<p><img class="img-article-left  thumb" src="${data.image}" width="20%" height="20%"></p>` : ''}
                </div>`;
            messageContainer.insertAdjacentHTML('beforeend', newMessage);
            messageContainer.scrollTop = messageContainer.scrollHeight;
            document.getElementById('message-form').reset();

            // Обновляем URL изображения
            imageUrl = data.image;

            // После обновления URL изображения отправляем сообщение
            sendMessageWithImage(formData.get('content'));
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Произошла ошибка при загрузке файла. Пожалуйста, убедитесь, что вы загружаете изображение.');
        });
    });

    function sendMessageWithImage(messageContent) {
        dialogSocket.send(JSON.stringify({
            'message': messageContent,
            'sender_first_name': '{{ user.first_name }}',
            'sender_last_name': '{{ user.last_name }}',
            'image_url': imageUrl // Используем глобальную переменную для передачи URL изображения
        }));
    }

    dialogSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const messageContainer = document.querySelector('.message-container');
        const newMessage = `
            <div class="message">
                <span class="message-sender">${data.sender_first_name} ${data.sender_last_name}:</span>
                <span class="message-content">${data.message}</span>
                ${data.image_url ? `<p><img class="img-article-left thumb" src="${data.image_url}" width="20%" height="20%"></p>` : ''}
            </div>`;
        messageContainer.insertAdjacentHTML('beforeend', newMessage);
        messageContainer.scrollTop = messageContainer.scrollHeight;
    };
});
</script>
{% endblock %}
